/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/

.familyName, [itemprop="familyName"] {
	font-variant: small-caps;
}

article p {
  text-indent: 2em;
  text-align: justify;
}

article p > a {
  color: #049;
  text-decoration: underline;
}

:root:not(.switch) {
  article p > a {
    color: #59F;
  }
}


/* Lettrines */
article h2 + p {text-indent: 0}
article h2 + p::first-letter {
  font-size: 4em;
  float: left;
  margin-right: 0.2em;
  opacity: 0.75;
}

article blockquote {
  border-left: .4rem rgba(232, 186, 43, .3) solid;
  background: rgba(232, 186, 43, 0.2);
}

.poem > p {
  text-indent: 0;
  text-align: left;
}

.footnote-definition {
  padding-bottom: 1em;

  :target {
    background: rgba(255, 236, 96, .3);
  }

  p {
    font-size: 90%;
  }
}


article q {
  quotes: "“" "”" "‘" "’";
}

a.tag {
  color: var(--a1);
  border: 1px var(--a1) solid;
  text-decoration: none;
  border-radius: 5px;
  padding: 1px 3px;
  font-size: 90%;
  font-weight: normal;
}

h2:target, h3:target, h4:target {
  color: var(--a2);
  text-decoration: underline;
}

.articleImage img {
  float: right;
  padding: 0 0 1em 1em;
}