/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/

.familyName, [itemprop="familyName"] {
	font-variant: small-caps;
}

article {
  h2:target, h3:target, h4:target {
    color: var(--a2);
    text-decoration: underline;
  }

  p {
    text-indent: 2em;

    a {
      color: #049;
      text-decoration: underline;
    }
  } 

  p, li {
    text-align: justify;
  }


  /* Lettrines */
  h2 + p {text-indent: 0}
  h2 + p::first-letter {
    font-size: 4em;
    float: left;
    margin-right: 0.2em;
    opacity: 0.75;
  }

  blockquote {
    border-left: .4rem rgba(232, 186, 43, .3) solid;
    background: rgba(232, 186, 43, 0.2);
  }

  q {
    quotes: "“" "”" "‘" "’";
  }
}

:root:not(.switch) {
  article p > a {
    color: #59F;
  }
}



.poem > p {
  text-indent: 0;
  text-align: left;
}

.footnote-reference {
  padding-left: 1px;

  a {
    text-decoration: none;

    &::before {
      content: "[";
    }

    &::after {
      content: "]";
    }
  }
}


.footnote-definition {
  opacity: 0.8;

  .footnote-definition-label {
    &::before {
      content: "[";
    }

    &::after {
      content: "]";
    }
  }

  &:target, &:hover {
    opacity: 1;
  }

  &:target, &:hover {
    background: rgba(255, 236, 96, .35);
  }

  p {
    font-size: 90%;
  }
}

a.tag {
  color: var(--a1);
  border: 1px var(--a1) solid;
  text-decoration: none;
  border-radius: 5px;
  padding: 1px 3px;
  font-size: 90%;
  font-weight: normal;
}

.articleImage img {
  float: right;
  padding: 0 0 1em 1em;
}